.account {
  padding: 0 50px;
  color: #0066b9;
}

.privateInformation,
.flatInformation {
  width: 60%;
  padding: 30px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 20px 0 rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  border-radius: 20px;
}

.privateInformation form > button {
  font-size: 16px;
  align-self: flex-end;
  padding: 12px 40px;
  background-color: #0071ce;
  color: white;
  border: none;
  border-radius: 20px;
}

.account p {
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: 700;
}
.flatInformation p {
  margin-bottom: 15px;
}
.update {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  gap: 10px;
  color: #0066b9;
  border: none;
  background: transparent;
  font-size: 16px;
}
.privateInformation form,
.flatInformation form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.privateInformation form input,
.flatInformation form input {
  border: none;
  border-bottom: 2px solid #6db6ee;
  padding: 15px 10px 15px;
}

.privateInformation form input::placeholder,
.flatInformation form input::placeholder {
  color: #0071ce;
  font-weight: 100;
}
