.comendantPayments {
  color: #0071ce;
}

.comendantPayments .container {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
  padding: 32px 44px;
  width: 100%;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1), 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.comendantPayments .container > div {
  width: 45%;
}

.form {
  max-width: 300px;
}
.form span {
  font-size: 24px;
  display: inline-block;
  margin-bottom: 15px;
  font-weight: 400;
}
.paymentMethods {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}
.paymentMethods p {
  font-size: 30px;
}

.methodsContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.paymentForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.newRequest h2 {
  font-size: 40px;
  font-weight: 500;
}
.newRequest .form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.card,
.comendantPayments input[type="text"],
.comendantPayments select {
  border: 1.5px solid #0071ce;
  border-radius: 10px;
  padding: 15px 20px;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  background-color: transparent;
  color: #0071ce;
  transition: 0.3s all;
}

input[type="file"] {
  display: none;
}

.comendantPayments .container input::placeholder {
  font-size: 20px;
  font-weight: 300;
}
/* .paymentForm div input[type="text"] {
  width: 100%;
} */
.bankCard {
  position: relative;
}

.copy {
  position: absolute;
  top: 15px;
  right: 10px;
  width: 25px;
  border: none;
  background-color: transparent;
}

.newRequest .dates {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.dates select {
  border-radius: 4px;
  padding: 8px;
  width: 20%;
}

.dates select option {
  color: #0071ce;
}

.newRequest {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
}
.newRequest button {
  font-size: 16px;
  align-self: flex-end;
  border-radius: 5px;
}

.newRequest button.send {
  padding: 7px;
  background-color: #0071ce;
  font-weight: 600;
  border: none;
  color: white;
}

.file-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-input-button {
  width: 100%;
  background-color: transparent;
  border: 1.5px solid #0071ce;
  color: #0071ce;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.file-input-button:hover {
  background-color: #0071ce;
  color: #fff;
}

.uploaded {
  background-color: #28a745;
  color: #fff;
  border-color: #28a745;
}

.checkmark {
  width: 20px;
  height: 20px;
  stroke: currentColor;
}

.anipay {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 24px;
  margin: 30px 0;
  font-weight: 700;
}
.anipay span {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
}

.form svg.copied * {
  transition: 0.3s all;
  stroke: green;
}

@media screen and (max-width: 1050px) {
  .comendantPayments .container {
    flex-direction: column;
  }
  .comendantPayments .container > div {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .comendantPayments .container {
    padding: 0 10px;
    box-shadow: none;
  }

  .paymentMethods {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 578px) {
  .form span {
    font-size: 16px;
    font-weight: 600;
  }
  .card {
    font-size: 14px;
    padding: 10px 8px;
  }
  .copy {
    top: 8px;
    right: 9px;
  }
  .paymentMethods p {
    font-size: 16px;
    font-weight: 600;
  }
  .methodsContainer {
    gap: 3px;
  }
  .methodsContainer a img {
    height: 12px;
  }
  .newRequest button.send {
    font-size: 12px;
    padding: 5px 21px;
    border-radius: 20px;
  }
}
