.appeal {
  color: #0066b9;
}
.mainAppeal {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 65%;
  max-width: 800px;
  min-width: 410px;
}
.select {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  width: 90%;
  margin: 30px auto 0;
}
.select div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.select label {
  font-size: 20px;
}
input[type="radio"] {
  transform: scale(1.3);
}

.appeal textarea {
  width: 100%;
  height: 30vh;
  border-radius: 20px;
  padding: 20px;
  border: none;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1), 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  resize: none;
}

.appeal .mainAppeal button {
  font-size: 16px;
  align-self: flex-end;
  padding: 12px 40px;
  background-color: #0071ce;
  color: white;
  border: none;
  border-radius: 20px;
}

.appeal h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-left: 44px;
}
.historyTable {
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1), 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 20px;
  color: #2899f6;
  background-color: white;
  width: 65%;
  max-width: 800px;
  min-width: 410px;
}

.historyTable table {
  font-weight: 600;
  width: 100%;
}
.historyTable table tr td {
  padding: 10px;
}
.historyTable table thead {
  font-size: 20px;
}
.historyTable table td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.historyTable table td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.select div label {
  white-space: nowrap;
}

.Appealhistory.hidden {
  display: none;
}

@media screen and (max-width: 576px) {
  .mainAppeal {
    width: 100%;
    max-width: unset;
    min-width: unset;
    padding: 0 10px;
  }
  .mainAppeal > div {
    margin-bottom: 0;
  }
  .select {
    width: 100%;
    margin-top: 16px;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-left: 2px;
  }
  .appeal .textArea {
    box-shadow: none;
    border: 1.5px solid #efefef;
    height: 240px;
  }
  .appeal .mainAppeal .submitButton {
    font-size: 12px;
    font-weight: 600;
    padding: 5px 21px;
    line-height: 14.4px;
  }
  .Appealhistory {
    margin-top: 35px;
  }
  .Appealhistory h2 {
    display: none;
  }
  .historyTable {
    min-width: unset;
    width: 100%;
    overflow-x: auto;
    padding: 16px 8px;
    box-shadow: none;
    border: 1.5px solid #efefef;
  }
  .historyTable td {
    white-space: nowrap;
  }
}
