.communalPayments {
  height: 100vh;
  font-size: 20px;
  width: 100%;
}

.communals a {
  text-align: center;
  border: 1px solid #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
  padding: 25px 5px;
  gap: 15px;
  width: 100%;
  max-width: 190px;
  text-decoration: none;
  color: #0066b9;
  transition: 0.3s all;
  background-color: white;
}

.communals a:hover {
  background: linear-gradient(0deg, #c5e5ff, #c5e5ff);
}

.communals {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  gap: 20px;
  border-radius: 16px;
  box-shadow: 0px 2px 4px 0px #00000040;
  padding: 30px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
  .communals a {
    padding: 10px 5px;
  }

  .communals a img {
    width: 50%;
  }
}

@media screen and (max-width: 900px) {
  .communals {
    box-shadow: none;
    padding: 0;
  }
}
@media screen and (max-width: 576px) {
  .communals {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}
