.changePassword {
  width: 100%;
  max-width: 400px;
}

.changePassword > h3 {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 600;
}

.forwardBack {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.forward,
.back {
  width: 80%;
  margin: 20px 40px 0;
  background-color: #0071ce;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  height: 50px;
}

.back {
  background-color: transparent;
  color: #0071ce;
  font-weight: bold;
}

.errorMessage {
  font-size: 18px;
}

@media screen and (max-width: 900px) {
  input::placeholder {
    font-weight: 100;
  }

  .changePassword > h3 {
    font-size: 20px;
    margin-bottom: 28px;
  }
  .changePassword {
    width: 90%;
    max-width: 350px;
  }
}
