.changePassword {
  color: #0071ce;
}

.changePasswordForm {
  padding: 0;
}

.changePassword > p {
  font-size: 30px;
  margin-bottom: 30px;
}

.email > label {
  position: absolute;
  font-size: 18px;
  top: 16px;
  left: 15px;
}
.email {
  position: relative;
  margin-bottom: 30px;
}
.changePasswordForm .email input[type="email"] {
  padding: 0 0 0 20px;
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 2px solid #0071ce;
  font-size: 18px;
  background: transparent;
}

.forwardBack {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.forward,
.back {
  width: 80%;
  margin: 20px 40px 0;
  background-color: #0071ce;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  height: 50px;
}

.back {
  background-color: transparent;
  color: #0071ce;
  font-weight: bold;
}

.errorMessage {
  font-size: 18px;
}

@media screen and (max-width: 900px) {
  input::placeholder {
    font-weight: 100;
  }

  .changePassword > p {
    font-size: 20px;
    margin-bottom: 28px;
  }
  .changePassword {
    width: 100%;
    max-width: 350px;
  }
}
