.loginConfirm {
  text-align: center;
}

.loginConfirm p {
  font-size: 36px;
  color: #0071ce;
  font-weight: 600;
}

.loginConfirm > img {
  margin-bottom: 30px;
}
.loginConfirm a {
  cursor: pointer;
  color: #0071ce;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

.loginConfirm a {
  display: none;
}

.passwordChange {
  display: flex !important;
  margin-top: 20px;
  gap: 8px;
  align-items: center;
  justify-content: center;
  font-weight: 700 !important;
}

.passwordChange img {
  width: 24px;
}

@media screen and (max-width: 900px) {
  .loginConfirm > img {
    width: 80px;
    margin-bottom: 20px;
  }

  .loginConfirm p {
    font-size: 24px;
    width: 80%;
    margin: 0 auto;
  }
  .loginConfirm a {
    display: block;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    font-weight: 600 !important;
    font-size: 16px;
  }
  .passwordChange img {
    display: none;
  }
}
