.dashboard {
  color: #0066b9;
  background-color: white;
  border-radius: 16px 16px 0 0;
  padding: 0 8px;
}

.container {
  border-radius: 0 0 20px 20px;
  margin-top: 32px;
}

.communals a {
  text-align: center;
  border: 1px solid #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
  padding: 25px 5px;
  gap: 15px;
  width: 100%;
  max-width: 190px;
  text-decoration: none;
  color: #0066b9;
  transition: 0.3s all;
  background-color: white;
}

.communals a:hover {
  background: linear-gradient(0deg, #c5e5ff, #c5e5ff);
}

.communals {
  display: flex;
  justify-content: center;
  gap: 20px;
  border-radius: 16px;
  box-shadow: 0px 2px 4px 0px #00000040;
  padding: 30px;
  margin-bottom: 20px;
}

.dashboard h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  padding: 0 40px;
}

.Appealhistory {
  margin-top: 50px;
}

.historyTable {
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1), 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  padding: 20px 50px;
  border-radius: 20px;
  color: #2899f6;
  font-weight: 600;
  font-size: 20px;
}

.historyTable table {
  width: 100%;
  border-spacing: 0;
}

.historyTable table tr td {
  padding: 9px;
}
.historyTable table td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.historyTable table td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.top {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 16px 40px 30px;
  gap: 45px;
  font-weight: 500;
  border-radius: 0 0 16px 16px;
  box-shadow: 1px 1px 1px 0px #00000040;
}
.debtContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.debtContainer h4 {
  display: flex;
  align-items: center;
  gap: 25px;
}

.debt {
  white-space: nowrap;
  font-size: 16px;
  padding: 8px;
  border-radius: 16px;
  border: 1px solid #0066b9;
  color: #e70500;
}

.debtContainer a {
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  padding: 10px 35px;
  color: white;
  background-color: #0071ce;
  border: none;
  border-radius: 20px;
}

.paymentMethods {
  display: flex;
  align-items: center;
  gap: 10px;
}
.methodsContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 15px;
}

.Appealhistory.hidden {
  display: none;
}

@media screen and (max-width: 1200px) {
  .top {
    flex-direction: column;
    gap: 20px;
  }
  .top > div {
    width: 100%;
    justify-content: space-between;
  }
  .top .debtContainer h4 {
    font-weight: 400;
  }

  .top .debtContainer .debt {
    border: none;
    padding: 0;
  }

  .top .debtContainer button {
    padding: 5px 30px;
    font-size: 14px;
  }

  .top .methodsContainer img {
    height: 20px;
  }

  .communals a {
    padding: 10px 5px;
  }

  .communals a img {
    width: 50%;
  }

  .historyTable {
    padding: 10px 20px;
    overflow-x: auto;
  }

  .historyTable td {
    white-space: nowrap;
  }
}

@media screen and (max-width: 900px) {
  .top {
    margin-top: 0;
    box-shadow: none;
    padding: 0 10px;
    gap: 24px;
  }
  .debtContainer h4 {
    font-size: 16px;
  }
  .debtContainer a {
    padding: 5px 30px;
    font-size: 16px;
  }
  .paymentMethods h4 {
    font-size: 18px;
    font-weight: 600;
  }
  .methodsContainer a {
    height: 18px;
  }
  .dashboard h2 {
    padding: 0;
    font-size: 20px;
    font-weight: 600;
  }
  .container {
    margin-top: 20px;
    padding: 10px;
  }
  .container .communals {
    box-shadow: none;
    padding: 0;
  }
  .Appealhistory {
    margin-top: 26px;
  }
  .Appealhistory h2 {
    display: none;
  }
  .historyTable {
    padding: 0;
    box-shadow: none;
    font-size: 16px;
  }
  .historyTable tbody {
    font-weight: 400;
  }
}

@media screen and (max-width: 576px) {
  .communals {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .debtContainer h4 {
    font-size: 12px;
    gap: 5px;
  }
  .debtContainer h4 span {
    font-size: 12px;
  }
  .debtContainer a {
    font-size: 12px;
    line-height: 14px;
  }
  .paymentMethods h4 {
    font-size: 16px;
  }
  .top .methodsContainer {
    gap: 3px;
  }
  .top .methodsContainer a {
    height: 12px;
  }
  .top .methodsContainer a img {
    height: 12px;
    margin-bottom: 10px;
  }
}
