.account {
  color: #0066b9;
}

.accountForms {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 20px 0 rgba(0, 0, 0, 0.1);

  margin-top: 30px;
  border-radius: 20px;
}

.privateInformation,
.flatInformation {
  width: 100%;
  padding: 30px 30px;

  transition: 0.3s all;
}

.privateInformation * {
  transition: 0.3s all;
}

.privateInformation form > button {
  font-size: 16px;
  align-self: flex-end;
  padding: 12px 40px;
  background-color: #0071ce;
  color: white;
  border: none;
  border-radius: 20px;
}

.account p {
  font-size: 32px;
  font-weight: 700;
}
.update {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  color: #0066b9;
  border: none;
  background: transparent;
  font-size: 16px;
  margin-top: 10px;
}

.accountForms form {
  margin: 10px 0 0;
}

.flatInformation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flatInformation.editing {
  justify-content: unset;
}

.flatInformation form > input {
  margin-bottom: 20px;
}

.accountForms form {
  display: block;
  text-align: end;
}

.accountForms form input {
  width: 100%;
}

.privateInformation form button {
  margin-top: 30px;
}

.privateInformation form input,
.flatInformation form input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #6db6ee;
  padding: 15px 10px 15px;
  color: #0071ce;
  font-size: 20px;
}

.privateInformation form input::placeholder,
.flatInformation form input::placeholder {
  color: #0071ce;
  font-weight: 300;
}
.error {
  color: red;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    height: auto;
  }
  90% {
    margin: 0;
    opacity: 0;
    height: 0;
    padding: 0;
  }
  100% {
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
    display: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    height: 0;
    padding: 0;
  }
  to {
    opacity: 1;
    height: auto;
  }
}

.update.fadeOut {
  animation: fadeOut 0.5s forwards;
}

form button.fadeIn {
  animation: fadeIn 0.3s forwards;
}

form button.fadeOut {
  animation: fadeOut 0.3s forwards;
}

.privateInformation.expandHeight {
  animation: expandHeight 0.3s forwards;
}

@keyframes expandHeight {
  from {
    height: 50%;
  }
  to {
    height: auto;
  }
}

@media screen and (max-width: 1050px) {
  .accountForms {
    flex-direction: column;
  }
}

@media screen and (max-width: 900px) {
  .accountForms {
    box-shadow: none;
  }
  .accountForms > div {
    padding: 0 10px;
  }
  .privateInformation {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 576px) {
  .account p {
    font-size: 20px;
  }
}
