.header {
  margin: auto;
  padding: 16px 45px;
  color: #0066b9;
  border-radius: 16px;
  box-shadow: 1px 1px 4px 0px #00000040;
  border: 1px solid #f5f5f5;
  background-color: white;
}
.inHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header h1 {
  font-size: 36px;
  font-weight: 600;
}
.right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.account {
  background-color: transparent;
  border: 1px solid #0066b9;
  border-radius: 50px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileCircle {
  display: none;
}

.right .exit {
  font-weight: 600;
  color: #0066b9;
  background-color: transparent;
  border: 1px solid #0066b9;
  font-size: 20px;
  padding: 4px 14px 7px;
  border-radius: 20px;
}

.right .exit img {
  display: none;
}

.dashboard {
  box-shadow: 2px 0px 1px -1px #00000040;
  border-bottom: none;
  border-radius: 16px 16px 0 0;
  position: relative;
  margin-bottom: -10px;
  border: none;
}

@media screen and (max-width: 900px) {
  .header {
    border: none;
    box-shadow: none;
    padding: 8px 10px;
  }
  .header .right {
    gap: 16px;
  }

  .right .exit {
    padding: 0;
    border: none;
    height: 24px;
  }

  .right .exit span {
    display: none;
  }

  .right .exit img {
    display: inline-block;
  }

  .account .userImg {
    display: none;
  }

  .account .profileCircle {
    display: inline-block;
  }

  .account {
    border: none;
    width: 24px;
    height: 24px;
  }

  .inHeader h1 {
    font-size: 20px;
  }
  .dashboard {
    margin-bottom: 0;
  }
}
