.payment .container {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  margin-top: 40px;
}

.payment .container button {
  width: 100%;
  max-width: 290px;
  aspect-ratio: 1;
  background-color: #f6fafd;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  font-size: 20px;
  color: #0066b9;
  font-weight: 600;
  transition: 0.3s all;
  display: flex;
  align-items: center;
  justify-content: center;
}

.payment .container button:hover {
  background: #eaf6ff;
  font-size: 24px;
}

@media screen and (max-width: 1200px) {
  .payment .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 576px) {
  .payment .container {
    grid-template-columns: 1fr 1fr;
  }
}
