/* General Styling */
.registerPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  margin: auto;
  color: #0071ce;
}

.registerWelcome {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 20px;
}

.registerEmail label,
.registerPassword label,
.registerName label,
.registerPage form div label {
  position: absolute;
  font-size: 16px;
  top: 16px;
  left: 15px;
}

.registerEmail,
.registerPassword,
.registerName,
form div {
  position: relative;
  margin-bottom: 10px;
}

.registerPage form input {
  padding: 0 0 0 20px;
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 2px solid #0071ce;
  font-size: 16px;
}

.registerButton {
  width: 80%;
  margin: 60px 40px 0;
  background-color: #0071ce;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  height: 50px;
}

.eyeIcon {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 16px;
}

.errorMessage {
  font-size: 18px;
  color: red;
}

.goBack {
  display: none;
}

input {
  background-color: transparent;
}

/* Responsive Styling for Mobile */
@media screen and (max-width: 900px) {
  input::placeholder {
    font-weight: 100;
  }

  .registerPage {
    width: 90%;
    margin: 0;
    padding: 20px 0;
  }

  .registerWelcome {
    font-size: 32px;
    text-align: center;
  }

  .registerPage form input {
    font-size: 14px;
    height: 45px;
  }

  .registerButton {
    width: 90%;
    margin: 10px 0;
  }

  .goBack {
    display: inline-block;
    width: 90%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    color: #0071ce;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
  }
}

@media screen and (max-width: 600px) {
  .registerWelcome {
    font-size: 36px;
  }

  .registerPage form input {
    font-size: 12px;
    height: 40px;
  }

  .registerButton {
    margin-top: 25px;
    height: 45px;
  }
}
