.commendantLayout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.layout > * {
  height: 100%;
  /* flex-shrink: 0; */
}

.outletContainer {
  padding: 0 25px;
  flex-grow: 1;
  overflow-y: auto;
  background: linear-gradient(180deg, #ffffff 0%, #ebf6ff 100%);
}
