.status {
  display: inline-block;
  border-radius: 8px;
  padding: 4px 8px;
  line-height: 24px;
  min-width: 150px;
}

.status.waiting {
  color: #fcb61a;
  background-color: #fff9eb;
}

.status.accepted {
  color: #04ad0f;
  background-color: #effaef;
}

.status.denied {
  color: #e70500;
  background: #fff3f2;
}

.status::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 18px;
  margin-right: 4px;
}

.status.waiting::before {
  background-color: #fcb61a;
}

.status.accepted::before {
  background-color: #04ad0f;
}

.status.denied::before {
  background: #e70500;
}
