/* General Styling */
.loginPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: auto;
  color: #0071ce;
  font-size: 18px;
  padding: 20px;
  box-sizing: border-box;
}

.navigateRegister {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  position: absolute;
  bottom: 40px;
  display: none;
}

.navigateRegister a {
  color: #0071ce;
  text-decoration: none;
  font-weight: bold;
}

.navigateRegister a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  .loginPage {
    width: 90%;
    padding: 20px;
  }

  .welcome {
    font-size: 28px;
  }

  .loginButton {
    width: 100%;
  }
  .navigateRegister {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  input::placeholder {
    font-weight: 100;
  }

  .loginPage {
    padding: 0;
    margin: 0;
  }

  .welcome {
    font-size: 36px;
  }

  .email,
  .password {
    position: relative;
    margin-bottom: 36px;
  }

  .save {
    gap: 5px;
  }

  .save label,
  .forgot a {
    font-size: 16px;
  }

  .loginPage input[type="text"],
  .loginPage input[type="password"] {
    height: 40px;
    font-size: 14px;
  }

  .loginButton {
    width: 90%;
    font-size: 20px;
    height: 45px;
  }
}
