.breadcrumb {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 8px;
}
.breadcrumb h5,
.breadcrumb a {
  text-decoration: none;
  color: #0066b9;
  font-size: 16px;
  font-weight: 400;
}
