* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato";
  outline: none;
}

ul li {
  list-style: none;
}

button {
  cursor: pointer;
}
.loadingScreenOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.loadingScreenOverlay.active {
  opacity: 1;
  visibility: visible;
}

.infiniteProgressBar {
  width: 30%;
  height: 5px;
  background-color: #0071ce;
  border-radius: 5px;
  animation: loadingAnimation 1.5s infinite ease-in-out;
}

@keyframes loadingAnimation {
  0% {
    transform: translateX(-250%);
    opacity: 0.7;
  }
  50% {
    transform: translateX(50%);
    opacity: 1;
  }
  100% {
    transform: translateX(250%);
    opacity: 0.7;
  }
}

.errorMessage {
  color: #ff4d4f;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fffdfdc7;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 20px;
  backdrop-filter: blur(20px);
}

.modal-content {
  position: relative;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  max-height: 500px;
  width: 100%;
  height: 100%;
}

.modal-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  cursor: zoom-in;
  transition: transform 0.3s ease-in-out;
}

.modal-image.zoomed {
  transform: scale(1.5);
  cursor: zoom-out;
}

.close-button {
  position: absolute;
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 600;
  top: -30px;
  left: 0;
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #0066b9;
}

table tr td > button {
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 900px) {
  .outletContainer {
    margin-top: 60px;
  }
}
